<section class="bg-gradient-to-br from-cyan-600 to-purple-500 py-12 px-8">
    <div class="mx-auto grid max-w-5xl grid-cols-1 items-center gap-12 py-6 md:grid-cols-2 md:py-12">
       <div>
          <h1 class="text-4xl font-bold leading-[1.1] text-white md:text-5xl text-left">What is it?</h1>
          <p class="pt-4 text-lg leading-[1.5] text-white">
            A static site generator is a tool that generates a full static HTML website based on raw data and a set of templates. Essentially, a static site generator automates the task of coding individual HTML pages and gets those pages ready to serve to users ahead of time. Because these HTML pages are pre-built, they can load very quickly in users' browsers.</p>
<p class="pt-4 text-lg leading-[1.5] text-white float-right">
            Static site generators are an alternative to content management systems (CMS) — another type of tool for managing web content, generating webpages, and implementing templates. (A template is a reusable format for web content; developers use templates to avoid writing the same formatting over and over.) Static site generators are typically part of a JAMstack web development approach.            
          </p>
       </div>
    <div>
       <img class="max-w-full h-auto rounded-lg mt-7 ml-7" src="https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/777074/static-site-generators-comparison-2018-a2bf0bd7a99c91f7b4a97ffbe5a84438.png" alt="SSG">
    </div>
    </div>
 </section>